
<div class="container_connexion">
    <div class="row">
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %> 
    
        <div class="label_button">
            <%= f.text_field :email, placeholder: "Entrer votre email" %><br><br>
        </div>
        <div class="labal_pass">
            <%= f.password_field :password, placeholder: "votre mot de passe" %><br>
        </div>
        <div class="actions"><br> <br>
            <%= f.submit 'Connexion', class: 'btn btn-primary'%>
        </div>
    
    <% end %>
    </div>
</div>

